# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Visual studio crap
*.suo
*.sdf
*.user
*.filters
*.pdb
*.tlog
*.lastbuildstate
*.opensdf
Output/
ipch/
[Dd]ebug*/
[Rr]elease*/

